.title h3{
    font-size: 2rem;
    font-weight: 200;
}
body{
    padding: 2vw;
    background-size: cover;
    background-image: linear-gradient(to right top, #a9c32f, #a6c941, #a3ce51, #a1d460, #9fd96f, #96dc7d, #8ddf8b, #85e299, #73e3ab, #63e4bc, #56e4cc, #50e3da);
}
*{
    font-family: Inter;
}
.header{
    font-size: 6rem;
    font-weight: 200;
    margin: 8px;
}
.button{
    margin: 3vw;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #2fc9bc;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s box-shadow;
    color: white;
}
.button:hover{
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@font-face {
    font-family: Inter;
    src: url("/static/inter.ttf");
}
.introduction{
    backdrop-filter: blur(10px);
    background-color: aquamarine;
    border-radius: 5px;
    padding: 35px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
span{
    display: flex;
    width: 90vw;
    padding: auto;
}
.introduction p{
    font-size: 1.5rem;
    font-weight: 200;
}
.intro{
    font-size: 2rem;
    font-weight: 300;
}
.title{
    margin-top: 35vh;
    margin-bottom: 35vh
}
.abstract{
    font-size: 80px;
    font-weight: 300;

}
/* BLACK */
.black .header{
    color: white;
}
.black .button{
    border: 2px white solid;
    color: white;
}
.black .button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(134, 144, 150);
}
.black {
    background-color: rgb(134, 144, 150);
}
.black .header{
    color: white;
}
.black .title h3{
    color: white;
}
.black .introduction{
    border: 2px solid white;
    color: white;
}
.black .abstract{
    color: white;
}