.title h3{
    font-size: 2rem;
    font-weight: 200;
}
body{
    padding: 2vw;
    background-size: cover;
    background-image: linear-gradient(to right, #085078, #5d938d);
}
*{
    font-family: Inter;
}
.header {
    font-size: 6rem;
    font-weight: 600;
    margin: 8px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #e4e4ea;
}
h3{
    color: white;
}
.main{
    display: table;
    margin: 0 auto;
}
.button{
    margin: 3vw;
    text-decoration: none;
    font-size: 1.2rem;
    background: #085078;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    color: white;
}
.button:hover{
    background: #85d8ce;
    color: white;
    box-shadow: rgba(124, 167, 215, 0.24) 0px 3px 8px;
}
@font-face {
    font-family: Inter;
    src: url("/static/inter.ttf");
}
.introduction {
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background: rgba(35, 155, 182, 0.7);
    padding: 35px;
    color: white;
    min-width: 60vw;
    max-width: 75vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease;
}

.introduction:hover {
    box-shadow: rgba(99, 99, 99, 0.6) 0px 20px 30px 0px;
    transform: translate(-5px,-12px)
}

span{
    display: flex;
    width: 90vw;
    padding: auto;
}
.introduction p{
    font-size: 1.5rem;
    font-weight: 200;
}
.intro{
    font-size: 2rem;
    font-weight: 300;
}
.title{
    margin-top: 35vh;
    margin-bottom: 35vh
}
.abstract{
    font-size: 80px;
    font-weight: 300;
    color: white;
}
/* BLACK */
.black .header{
    color: white;
}
.black .button{
    border: 2px white solid;
    color: white;
}
.black .button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(134, 144, 150);
}
.black {
    background-color: rgb(134, 144, 150);
}
.black .header{
    color: white;
}
.black .title h3{
    color: white;
}
.black .introduction{
    border: 2px solid white;
    color: white;
}
.black .abstract{
    color: white;
}